#ContactUs {
	display: inline-block;
	font-family: $font;
	margin-top: 0vh;
	//padding: 5vh;
	//height: 100vh;
	background-color: $color-complementario;
	color: $color-complementario;
	width: 100%; // trate de darle un ancho de el view port

	h1 {
		font-weight: 400;
		font-size: 2rem;
		font-weight: bold;
		color: #fff;
		padding-top: 5vh;
		font-family: $font_relaway;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: bold;
		color: $color-complementario;
	}
	.title {
		font-weight: 400;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		padding-bottom: 0vh;
		font-family: $font_relaway;
	}
	a,
	p {
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	.white-box {
		//background-color: #fff;
		a,
		p {
			font-size: 18px;
			font-weight: bold;
			color: $color-complementario;
			background: #891e67;
		}
	}

	//--------------------inner sections
	#Maps {
		width: 100%;
		//padding: 10px;
		// top: 0;
		// left: 0;
		//opacity: 0.3;//opacidad para dar algo de diseño
	}
	#SocialMedia {
		a,
		p {
			font-size: 18px;
			font-weight: bold;
			color: #fff;
		}
	}

	#Adress {
		a,
		p {
			font-size: 18px;
			font-weight: bold;
			color: #fff;
		}
		.strong {
			font-size: 20px;
			font-weight: 800;
			color: #fff;
		}
		.btn-light {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
		}
	}

	#WriteUs {
	}
}
