@import "../sass/product/galeria";
@import "../sass/product/mixins";
@import "../sass/product/variables";

#Gallery {
	display: inline-block;
	font-family: $font;
	margin-top: 1vh;
	height: 120vh;
	//opacity: 0.3;
	h1 {
		font-weight: 400;
		font-size: 2rem;
		font-weight: bold;
		color: $color-resaltado;
		padding-bottom: 5vh;
		padding-top: 15vh;
		font-family: $font_relaway;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: bold;
		color: $color-complementario;
	}
}
